In [35]:
# import
import numpy as np;
import matplotlib.pyplot as plt;
import pandas as pd
from sklearn.linear_model import LinearRegression

In [26]:
# importing the data set file
df = pd.read_csv("car.csv")

In [27]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [28]:
df.experience # a value is null here .Must handle that

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [29]:
# we can use mean/median function to fill up the Null value
experince_null_handler = df.experience.median()

In [13]:
experince_null_handler

5.0

In [32]:
# update the null values with the calculated median value 
df.experience = df.experience.fillna(experince_null_handler)

In [33]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [37]:
# take the linear regression model insatnce
#reg = linear_model.LinearRegression()
reg = LinearRegression()
reg.fit(df[['speed','car_age', 'experience',]],df.risk)

LinearRegression()

In [40]:
# predict the risk for values whre speed is 160, car age is 10 year and exp is 5 year
reg.predict([[160,10,5]])

array([71.37146872])

In [41]:
# find out the coefficiency of the variables.
# The eqn for multi variable linear reg is Y = M1*x1+M2*x2..+Mn*xn(coefficients) + C(intercept)
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [42]:
# intercept calculation
reg.intercept_

33.4100009104359

In [43]:
# checking if the value is correct for the (160,10,5) is correct or not
0.33059217*160+1.61053246*10+5*(-6.20772074) + 33.4100009104359

71.3714690104359