In [ ]:
# tf = number of repeated word in a sentence / total word in a sentence
# idf = log(total number of sentence/ no of sentence that contains the word)

In [16]:
# data set link : https://www.kaggle.com/rockinjas123/spam-ham-emails
# import
import numpy as np;
import seaborn as sb
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
# import dataset
df = pd.read_csv('emails.csv')

In [4]:
df
# text is the feature and spam is the label(independent)

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [5]:
df['spam'].value_counts()

0    4360
1    1368
Name: spam, dtype: int64

In [6]:
# drop the duplicate values
df.drop_duplicates(inplace = True)

In [8]:
df['spam'].value_counts()
# some duplicate ham mails were drops..count droped from 4360 to 4327

0    4327
1    1368
Name: spam, dtype: int64

In [9]:
df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5695 rows x 2 columns]

In [10]:
df.isnull().sum()

text    0
spam    0
dtype: int64

## Seperating the x and y from dataset

In [11]:
x = df.text.values
y = df.spam.values

In [15]:
y

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

## split dataset for training

In [27]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y)

In [24]:
ytrain

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)