In [1]:
from google.colab import files
files.upload()

Saving feature scaling.csv to feature scaling.csv

{'feature scaling.csv': b'Country,Age,Salary,Purchased\r\nFrance,44,72000,No\r\nSpain,27,48000,Yes\r\nGermany,30,54000,No\r\nSpain,38,61000,No\r\nGermany,40,70000,Yes\r\nFrance,35,58000,Yes\r\nSpain,31,52000,No\r\nFrance,48,79000,Yes\r\nGermany,50,83000,No\r\nFrance,37,67000,Yes\r\n'}

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('feature scaling.csv')

In [4]:
df

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40   70000       Yes
5   France   35   58000       Yes
6    Spain   31   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [6]:
x = df.iloc[:,1:3]

In [7]:
x

   Age  Salary
0   44   72000
1   27   48000
2   30   54000
3   38   61000
4   40   70000
5   35   58000
6   31   52000
7   48   79000
8   50   83000
9   37   67000

## MIN MAX SCALER

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
MMS = MinMaxScaler(feature_range=(0,1))

In [10]:
x_after_minmaxscale = MMS.fit_transform(x)

In [11]:
x_after_minmaxscale

array([[0.73913043, 0.68571429],
       [0.        , 0.        ],
       [0.13043478, 0.17142857],
       [0.47826087, 0.37142857],
       [0.56521739, 0.62857143],
       [0.34782609, 0.28571429],
       [0.17391304, 0.11428571],
       [0.91304348, 0.88571429],
       [1.        , 1.        ],
       [0.43478261, 0.54285714]])

# **Standardization**

In [17]:
from sklearn.preprocessing import StandardScaler

In [20]:
standardsection = StandardScaler()

In [21]:
standardsection

StandardScaler(copy=True, with_mean=True, with_std=True)

In [22]:
x_after_standardization = standardsection.fit_transform(x)

In [23]:
x_after_standardization

array([[ 0.82572282,  0.6829409 ],
       [-1.51382518, -1.47371457],
       [-1.10096377, -0.9345507 ],
       [ 0.        , -0.30552619],
       [ 0.27524094,  0.50321961],
       [-0.41286141, -0.57510812],
       [-0.96334329, -1.11427199],
       [ 1.37620471,  1.31196541],
       [ 1.65144565,  1.67140798],
       [-0.13762047,  0.23363768]])